<html>
    <head>
        <title>{{ title }}</title>
    </head>
    <body>
      <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
      <img src="{{ url_for('static', filename='Download.jpeg')}}" alt="Logo">
        <table border="1">
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Country</th>
                <th>Message</th>
            </tr>
            {% for user, details in users.items() %}
            <tr>
                <td>{{ user }}</td>
                <td>{{ details['age'] }}</td>
                <td>{{ details['country'] }}</td>
                <td>
                    {% if details['country'] == 'USA' %}
                        Special message for USA users: Welcome!
                    {% else %}
                        No special message
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
